
<div class="container">
  <table class="table" >
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
    </tr>

    </thead>

    <tbody>
    <tr *ngFor="let book of books; let i=index" >
      <th scope="row">{{i+1}}</th>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td *ngIf="book.free==true" class="text-success">{{book.free}}</td>
      <td *ngIf="book.free==false" class="text-warning">{{book.free}}</td>
    </tr>

    </tbody>
  </table>
</div>
